ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    /*GRADIENT FROM UIGRADIENT*/
    /*background: #000428;  fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #00030A, rgba(87, 79, 79, 0.4), #00030A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* opacity: .1; */
} 
 
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
   padding: 14px 16px;
    text-decoration: none;
}

/* li.signup {

} */

li a:hover, .dropdown:hover .dropbtn {
    background-color: #41DF00;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 157, 1, 0.00);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(255, 136, 0, 0.65)}

.dropdown:hover .dropdown-content {
    display: block;
}


